## ------------------------------------------------------------------
##
## Macro per semplificare l'uso di Bootstrap 5
## 2025-10-20
##
## ------------------------------------------------------------------

#macro (PROLOG $modulo)
<!-- INIZIO $modulo -->
#end

#macro (EPILOG $modulo)
<!-- FINE $modulo -->
#end

##
## -- Gestione dei menu --------------------------------------------------------------
##

#macro (BEGIN_MENU $caption)
<!-- inizio menu -->
<div class="btn-toolbar" role="toolbar" aria-label="toolbar" style="margin-bottom: 10px;">
  <div class="btn-group me-2" role="group">
    <button type="button" class="btn btn-sm btn-primary" onclick="ricarica();">$I.I($caption)</button>
  </div>
  #end

  #macro (END_MENU)
</div>
<!-- fine menu -->
#end

## -- i submenu vengono visualizzati come dropdown --
#macro (BEGIN_SUBMENU $titolo $style)
<div class="btn-group">
  <button type="button" class="btn btn-sm dropdown-toggle $style" data-bs-toggle="dropdown" >
    $I.I($titolo)
  </button>
  <ul class="dropdown-menu">
    #end  

    #macro (END_SUBMENU $titolo $style)
  </ul>
</div>
#end  

#macro (itemSubmenu $body $lnk)
<li><a class="dropdown-item" href="$lnk">$I.I($body)</a></li>
#end  
#macro (itemSubmenuScript $body $lnkScript)
<li><a class="dropdown-item" href="#" onClick="$lnkScript">$I.I($body)</a></li>
#end

#macro (itemSubmenuNoi18n $body $lnk)
<li><a class="dropdown-item" href="$lnk">$body</a></li>
#end  
#macro (itemSubmenuScriptNoi18n $body $lnkScript)
<li><a class="dropdown-item" href="#" onClick="$lnkScript">$body</a></li>
#end

#macro (itemSubmenuDivider)
<li><hr class="dropdown-divider"></li>
#end

#macro (BEGIN_BUTTON_GROUP $style)
<div class="btn-group me-2 $!style" role="group">
  #end

  #macro (END_BUTTON_GROUP)
</div>
#end

#macro (menuCell $body $lnk $style)
<button type="button" class="btn btn-sm $style" onClick="window.location.href = '$lnk'">$I.I($body)</button>
#end

#macro (menuCellTest $formID $body $lnk $style)
#if($cfg.isButtonEnabled($formID, $body))
<button type="button" class="btn btn-sm $style" onClick="window.location.href = '$lnk'">$I.I($body)</button>
#end
#end

#macro (menuCellScript $body $lnkScript $style)
<button type="button" class="btn btn-sm $style" onClick="$lnkScript">$I.I($body)</button>
#end

#macro (menuCellTestScript $formID $body $lnkScript $style)
#if($cfg.isButtonEnabled($formID, $body))
<button type="button" class="btn btn-sm $style" onClick="$lnkScript">$I.I($body)</button>
#end
#end

##
## -- Dialog generica ----------------------------------------------------------------
## una dialog con o senza footer; nel footer posso inserire più bottoni o altir gadget
## $dimensione puo essere: ""=default, modal-xl, modal-lg, modal-sm
## $style è 'primary', 'warning', 'info', ecc.
##

#macro (BEGIN_DIALOG $id $titolo $style $dimensione)
<!-- INIZIO dialog $id -->
<div class="modal fade" id="$id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog $dimensione">
    <div class="modal-content">
      <div class="modal-header bg-$style text-white">
        <p class="modal-title fs-5" id="${nomeDialog}Label">$titolo</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div class="modal-body">
        #end

        #macro (BEGIN_DIALOG_FOOTER)
      </div>
      <div class="modal-footer">
        #end

        #macro (DIALOG_FOOTER_BUTTON_CLOSE $id $caption)
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">$caption</button>
        #end

        #macro (DIALOG_FOOTER_BUTTON $id $caption $funzione $stile)
        <button type="button" class="btn $stile" onclick="$funzione">$caption</button>
        #end

        #macro (END_DIALOG_FOOTER)
      </div>
      #end

      <!--
      <div class="modal-dialog modal-xl">...</div>
      <div class="modal-dialog modal-lg">...</div>
      <div class="modal-dialog modal-sm">...</div>
      -->

      #macro (END_DIALOG)
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- FINE dialog -->
#end

##
## -- Dialog semplificata ----------------------------------------------------------------
## una dialog con un footer fisso: un bottone per annullare e uno per confermare
## $dimensione puo essere: ""=default, modal-xl, modal-lg, modal-sm
##

#macro (BEGIN_DIALOG_SIMPLE $id $titolo $dimensione)
<!-- Dialog $titolo ($id) -->
<div class="modal fade" id="$id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titolo_$id" >
  <div class="modal-dialog $dimensione">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h1 class="modal-title fs-5" id="titolo_$id">$titolo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
      </div>
      <div id="$id-body" class="modal-body">
        #end

        <!--
        <div class="modal-dialog modal-xl">...</div>
        <div class="modal-dialog modal-lg">...</div>
        <div class="modal-dialog modal-sm">...</div>
        -->

        #macro (END_DIALOG_SIMPLE $capSalva $capChiudi $scriptConferma)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">$capChiudi</button>
        <button type="button" class="btn btn-primary" onclick="$scriptConferma">$capSalva</button>
      </div>
    </div>
  </div>
</div>
#end

##
## -- Card generica ----------------------------------------------------------------
## una card (panel in bootstrap 3) è un riquadro con un contenuto.
## $style è 'primary', 'warning', 'info', ecc.
##

#macro (BEGIN_CARD $id $style $titolo $titoloEsteso $commento)
<div class="card border-$style mb-3" id="$id">
  <div class="card-header text-bg-$style">
    $titolo
  </div>
  <div id="$id-body" class="card-body">
    <h5 class="card-title">$titoloEsteso</h5>
    <p class="card-text">$commento</p>
    #end

    #macro (END_CARD)
  </div>
</div>
#end

##
## -- Card semplificata ------------------------------------------------------------
## una card (panel in bootstrap 3) è un riquadro con un contenuto.
## $style è 'primary', 'warning', 'info', ecc.
##

#macro (BEGIN_CARD_SIMPLE $style $titolo)
<div class="card border-$style mb-3">
  <div class="card-header text-bg-$style">
    $titolo
  </div>
  <div class="card-body">
    #end

    #macro (END_CARD_SIMPLE)
  </div>
</div>
#end

#macro (BEGIN_PANEL $style $titolo)
<div class="card border-$style mb-3">
  <div class="card-header text-bg-$style">
    $titolo
  </div>
  <div class="card-body">
    #end

    #macro (END_PANEL)
  </div>
</div>
#end

##
## -- Data Table basilare ----------------------------------------------------------
## Funzioni basilari di una DataTable applicate ad una tabella esistente.
## Richiede il caricamento di datable.
##

#macro (BASIC_DATA_TABLE $selector)
<SCRIPT>
  jQuery(function () {
    jQuery("$selector").DataTable({
      bAutoWidth: false,
      sPaginationType: 'full_numbers',
      bSortClasses: false,
      stateSave: true,
      stateSaveCallback: function (settings, data) {
        localStorage.setItem('DataTables_' + settings.sInstance, JSON.stringify(data))
      },
      stateLoadCallback: function (settings) {
        return JSON.parse(localStorage.getItem('DataTables_' + settings.sInstance))
      },
      oLanguage: {
        "sLengthMenu": "$I.I('Mostra _MENU_ elementi per pagina')",
        "sZeroRecords": "$I.I('Nessun elemento trovato')",
        "sInfo": "$I.I('Mostrati elementi da _START_ a _END_ di _TOTAL_ elementi totali')",
        "sInfoEmpty": "$I.I('0 elementi totali')",
        "sInfoFiltered": "($I.I('filtrate da _MAX_ elementi totali'))",
        "sSearch": "$I.I('Cerca')",
        "oPaginate": {
          "sFirst": "<<",
          "sLast": ">>",
          "sNext": ">",
          "sPrevious": "<"
        }
      }
    });
  });
</SCRIPT>
#end

##
## -- Menu standard per liste rigel ------------------------------------------------
## Le liste rigel hanno lo stesso menu: quello qui sotto.
##

#macro (MENU_LISTA $caption)
#set ( $filtro = $data.getParameters().getInt("filtro", 0) )
<div class="btn-toolbar" role="toolbar" aria-label="toolbar" style="margin-bottom: 10px;">
  <div class="btn-group me-2" role="group">
    <button type="button" class="btn btn-sm btn-primary" onclick="ricarica();">$I.I($caption)</button>
  </div>

  #if ($filtro == 0 || $filtro == 2 || $filtro == 3)

  #if($hbuts)
  <div class="btn-group me-2" role="group">
    #foreach($hb in $hbuts)
    #menuCellScript ($hb.menuItem.descrizione $hb.menuItem.programma $ui.menuFieldTextStyle)
    #end
  </div>
  #end

  <div class="btn-group me-2" role="group">
    #if($newEnabled)
    #menuCell ("Nuovo" $urlNuovo $ui.menuFieldTextStyle)
    #end
    #menuCell ("Ricerca avanzata" "$baseUri/filtro/1" $ui.menuFieldTextStyle)
    #menuCellScript ("Stampa verticale" "stampa();" $ui.menuFieldTextStyle)
    #menuCellScript ("Stampa orizzontale" "stampaLand();" $ui.menuFieldTextStyle)
  </div>

  #else

  <div class="btn-group me-2" role="group">
    #menuCell ("Annulla" "$baseUri" $ui.menuFieldTextStyle)
    #menuCellScript ("Applica" "document.fo.submit()" $ui.menuFieldTextStyle)
    #menuCell ("Pulisci filtro" "$baseUri/filtro/3" $ui.menuFieldTextStyle)
  </div>

  #end

</div>
#end

##
## -- Menu standard per form rigel -------------------------------------------------
## I form rigel hanno lo stesso menu: quello qui sotto.
## Nel caso di form master/detail utilizza anche la macro MENU_FORM_DETAIL
## Se siamo in popup prima di usare le macro aggiungere
## #set($iam_popup = true)
##

#macro (MENU_FORM $caption)
<div class="btn-toolbar" role="toolbar" aria-label="toolbar" style="margin-bottom: 5px;">
  <div class="btn-group me-2" role="group" aria-label="bg0">
    <button type="button" class="btn btn-sm btn-primary">$I.I($caption)</button>
  </div>

  #if($hbuts)
  <div class="btn-group me-2" role="group" aria-label="bg1">
    #foreach($hb in $hbuts)
    #menuCellScript ($hb.menuItem.descrizione $hb.menuItem.programma $ui.menuFieldTextStyle)
    #end
  </div>
  #end

  #if($editEnabled)
  <div class="btn-group me-2" role="group" aria-label="bg2">
    #if($saveEnabled)
    #menuCellScript ("Salva" "salva()" $ui.menuFieldTextStyle)
    #end
    #if($saveEnabled && $newEnabled)
    #menuCellScript ("Duplica" "duplica()" $ui.menuFieldTextStyle)
    #menuCellScript ("Salva e nuovo" "salvanew()" $ui.menuFieldTextStyle)
    #end
    #if($saveEnabled)
    #menuCellScript ("Salva ed esci" "salvaesci()" $ui.menuFieldTextStyle)
    #end
  </div>
  #end

  <div class="btn-group" role="group" aria-label="bg3">
    #if($iam_popup)
    #menuCellScript ("Chiudi" "chiudi()" $ui.menuFieldTextStyle)
    #else
    #menuCellScript ("Abbandona" "abbandona()" $ui.menuFieldTextStyle)
    #end
  </div>
</div>
#end

#macro (MENU_FORM_DETAIL $caption)
<div class="btn-toolbar" role="toolbar" aria-label="toolbar" style="margin-bottom: 5px; margin-top: 15px;">
  <div class="btn-group me-2" role="group" aria-label="bgd0">
    <button type="button" class="btn btn-sm btn-info">$I.I($caption)</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="bgd1">
    #if($hbutd)
    #foreach($hb in $hbutd)
    #menuCellScript ($hb.menuItem.descrizione $hb.menuItem.programma $ui.menuFieldTextStyle)
    #end
    #end
  </div>
  <div class="btn-group me-2" role="group" aria-label="bgd2">
    #if($newEnabled)
    #menuCellScript ("Nuovo" "nuovodett()" $ui.menuFieldTextStyle)
    #end
    #if($saveEnabled)
    #menuCellScript ("Salva" "salva()" $ui.menuFieldTextStyle)
    #end
  </div>
  <div class="btn-group me-2" role="group" aria-label="bgd2">
    #if($iam_popup)
    #menuCellScript ("Chiudi" "chiudi()" $ui.menuFieldTextStyle)
    #else
    #menuCellScript ("Abbandona" "abbandona()" $ui.menuFieldTextStyle)
    #end
  </div>
</div>
#end

##
## -- Menu standard per liste edit rigel -------------------------------------------
## Le liste edit di rigel hanno lo stesso menu: quello qui sotto.
## Se siamo in popup prima di usare le macro aggiungere
## #set($iam_popup = true)
##

#macro (MENU_LISTE_EDIT $caption)
<div class="btn-toolbar" role="toolbar" aria-label="toolbar" style="margin-bottom: 5px;">
  <div class="btn-group me-2" role="group" aria-label="bg0">
    <button type="button" class="btn btn-sm btn-primary">$I.I($caption)</button>
  </div>

  #if($hbuts)
  <div class="btn-group me-2" role="group" aria-label="bg1">
    #foreach($hb in $hbuts)
    #menuCellScript ($hb.menuItem.descrizione $hb.menuItem.programma $ui.menuFieldTextStyle)
    #end
  </div>
  #end

  #if($editEnabled)
  <div class="btn-group me-2" role="group" aria-label="bg2">
    #if($saveEnabled && $newEnabled)
    #menuCellScript ("Nuovo" "nuovodett()" $ui.menuFieldTextStyle)
    #end
    #if($saveEnabled)
    #menuCellScript ("Salva" "salva()" $ui.menuFieldTextStyle)
    #end
    #if($saveEnabled)
    #menuCellScript ("Salva ed esci" "salvaesci()" $ui.menuFieldTextStyle)
    #end
  </div>
  #end

  <div class="btn-group" role="group" aria-label="bg3">
    #if($iam_popup)
    #menuCellScript ("Chiudi" "chiudi()" $ui.menuFieldTextStyle)
    #else
    #menuCellScript ("Abbandona" "abbandona()" $ui.menuFieldTextStyle)
    #end
  </div>
</div>
#end

##
## -- Gestione interfaccia a tab -------------------------------------------
## I tab si compongono di due parti:
## 1) la tab bar che materialmente contiene i tab
## 2) una serie di pannelli che vengono agganciati da ogni tab presente nella barra
##
## la tab bar viene creata con BEGIN_TAB_BAR, TAB_BAR_ITEM, TAB_BAR_ITEM_ACTIVE, END_TAB_BAR
## uno solo degli item può essere TAB_BAR_ITEM_ACTIVE
##
## i pannelli vengono creati con 
## BEGIN_TAB_CONTENT(idunivocogenerale)
## BEGIN_TAB_CONTENT_PANEL_ACTIVE(lostessoidusatoin_TAB_BAR_ITEM_ACTIVE)
## ...
## END_TAB_CONTENT_PANEL_ACTIVE
## BEGIN_TAB_CONTENT_PANEL(lostessoidusatoin_TAB_BAR_ITEM)
## ...
## END_TAB_CONTENT_PANEL
## END_TAB_CONTENT
##

#macro (BEGIN_TAB_BAR $id)
<ul class="nav nav-tabs" id="$id" role="tablist">
  #end

  #macro (TAB_BAR_ITEM $id $caption)
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="$id" data-bs-toggle="tab" data-bs-target="#$id-pane" type="button" role="tab">$caption</button>
  </li>
  #end

  #macro (TAB_BAR_ITEM_ACTIVE $id $caption)
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="$id" data-bs-toggle="tab" data-bs-target="#$id-pane" type="button" role="tab">$caption</button>
  </li>
  #end

  #macro (END_TAB_BAR)
</ul>
#end

#macro (BEGIN_TAB_CONTENT $id)
<div class="tab-content" id="$id">
  #end

  #macro (BEGIN_TAB_CONTENT_PANEL $id)
  <div class="tab-pane fade show tab-inner-vis-panel" id="$id-pane" role="tabpanel" tabindex="0">
    #end

    #macro (END_TAB_CONTENT_PANEL)
  </div>
  #end

  #macro (BEGIN_TAB_CONTENT_PANEL_ACTIVE $id)
  <div class="tab-pane fade show active tab-inner-vis-panel" id="$id-pane" role="tabpanel" tabindex="0">
    #end

    #macro (END_TAB_CONTENT_PANEL_ACTIVE)
  </div>
  #end

  #macro (END_TAB_CONTENT)
</div>
#end


##
## -- Aiuto per i form -------------------------------------------------------------
## per generare più facilmente controlli
##

#macro (FORM_INPUT $id $tipo $caption $valore $placeholder $help)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  #if($help == "")
  <input type="$tipo" class="form-control" id="$id" name="$id" placeholder="$placeholder" value="$valore">
  #else
  <input type="$tipo" class="form-control" id="$id" name="$id" aria-describedby="$id-help" placeholder="$placeholder" value="$valore">
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_INPUT $id $tipo $caption $valore $placeholder $help)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  #if($help == "")
  <input type="$tipo" class="form-control" id="$id" name="$id" placeholder="$placeholder" value="$valore">
  #else
  <input type="$tipo" class="form-control" id="$id" name="$id" aria-describedby="$id-help" placeholder="$placeholder" value="$valore">
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_TEXTAREA $id $tipo $caption $valore $placeholder $help)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  #if($help == "")
  <textarea class="form-control" id="$id" rows="4" name="$id" placeholder="$placeholder">$valore</textarea>
  #else
  <textarea class="form-control" id="$id" rows="4" name="$id" aria-describedby="$id-help" placeholder="$placeholder">$valore</textarea>
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_INPUT_AUTOCOMPLETE $id $tipo $caption $valore $placeholder $help $lista)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  <input type="$tipo" class="form-control" id="$id" name="$id"
         aria-describedby="$id-help" placeholder="$placeholder" list="$id-datalistOptions" value="$valore">
  <datalist id="$id-datalistOptions">
    #foreach($v in $lista)
    <option value="$v"/>
    #end
  </datalist>
  #if($help != "")
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_INPUT_AUTOCOMPLETE_HTML $id $tipo $caption $valore $placeholder $help $listaHtml)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  <input type="$tipo" class="form-control" id="$id" name="$id"
         aria-describedby="$id-help" placeholder="$placeholder" list="$id-datalistOptions" value="$valore">
  <datalist id="$id-datalistOptions">
    $listaHtml
  </datalist>
  #if($help != "")
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_SELECT $id $caption $valore $help $lista)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  <select class="form-select" id="$id" name="$id">
    #foreach($v in $lista)
    #if($valore == $v.first)
    <option value="$v.first" selected>$v.second</option>
    #else
    <option value="$v.first">$v.second</option>
    #end
    #end
  </select>
  #if($help != "")
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_SELECT_HTML $id $caption $help $listaHtml)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  <select class="form-select" id="$id" name="$id">
    $listaHtml
  </select>
  #if($help != "")
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_CHECKBOX $id $caption $value)
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="$value" id="$id" name="$id">
  <label class="form-check-label" for="$id">
    $caption
  </label>
</div>
#end

#macro (FORM_RADIO $id $caption $value)
<div class="form-check">
  <input class="form-check-input" type="radio" value="$value" id="$id" name="$id">
  <label class="form-check-label" for="$id">
    $caption
  </label>
</div>
#end

#macro (FORM_SWITCH $id $caption $value)
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" value="$value" id="$id" name="$id">
  <label class="form-check-label" for="$id">$caption</label>
</div>
#end

#macro (ZZZ_FORM_INPUT_COMBINED $id $tipo $prehtml $caption $valore $placeholder $help)
<div class="mb-3">
  <label for="$id" class="form-label">$caption</label>
  <span class="input-group-text" id="$id-addon1">$prehtml</span>
  #if($help == "")
  <input type="$tipo" class="form-control" id="$id" name="$id" placeholder="$placeholder" value="$valore">
  #else
  <input type="$tipo" class="form-control" id="$id" name="$id" aria-describedby="$id-help" placeholder="$placeholder" value="$valore">
  <div id="$id-help" class="form-text">$help</div>
  #end
</div>
#end

#macro (FORM_INPUT_COMBINED $id $tipo $prehtml $caption $valore $placeholder)
<div class="input-group mb-3">
  <span class="input-group-text" id="$id-basic-addon1">$prehtml</span>
  <input type="text" class="form-control" 
         placeholder="$placeholder" 
         aria-label="$id-label" aria-describedby="$id-basic-addon1">
</div>
#end
